* {
    margin: 0px;
    padding: 0px;
    
}
 body {
    font-family: 'Source Sans Pro', sans-serif;
 }
.navigation-container {
    width: 50vw;
    height: 75px;
    border: 1px solid black;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin: 30px;
}

.navigation-list > li {
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}

.navigation-list li:hover {
    background-color: #04AA6D;
    color: whitesmoke;
}

.new {
    display: inline-block;
    font-size: 15px;
    background-color: #FFF4A3;
    color: black;
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
}

/* html styles */

.html-container{
    width: 100%;
    height: 550px;
    background-color: #282A35;
    display: flex;
    
    color: white;
}
.html-1-container {
    height: 550px;
    width: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.html-2-container {
    height: 550px;
    width: 50%;
    
}
.heading-text {
    font-size: 100px;
    font-weight: bolder;
    margin-top: 100px;
    margin-bottom: 30px;
}

.html-1-ref-container {
    height: 30px;
    width: 150px;
    background-color: #04AA6D;
    margin-top: 15px;
    font-size: 15px;
    padding: 5px;
    border-radius: 25px;
}

.html-1-ref-container > span {
    display: block;
    padding: 10px;
}
